<div class="container main-container">
  <h1 class="animated fadeIn fast">Sobre Comic App</h1>
  <hr>
  <p class="animated fadeIn text-justify">
    App desarrollada en Angular y Bootstrap, consume un servicio donde esta la array de todos los personajes. Utiliza
    route para direcciones a los diferentes componentes.
    Se reutiliza el componente de la tarjeta de cada heroe.
  </p>

  <div class="row">
    <div class="col">
        <div class="text-center">
            <img class="img-fluid center" src="assets/img/angular.png" alt="">
          </div>
    </div>
  </div>
  <div class="row">
      <div class="col">
          <div class="text-center">
              <img class="img-fluid center" src="assets/img/bootstrap.png" alt="200px">
          </div>
      </div>
    </div>
</div>