<header class="masthead" style="background-image: url('/assets/img/marveldc.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Comic App</h1>
          <span class="subheading">HTML, CSS, Bootstrap, Angular</span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="row">
  <div class="col-lg-8 col-md-10 mx-auto">

    <h2 class="section-heading">The Avengers</h2>

    <p class="text-justify">The Avengers (titulada The Avengers: Los Vengadores en Hispanoamérica y Marvel: Los Vengadores en España) es una
      película estadounidense de superhéroes de 2012 escrita y dirigida por Joss Whedon. Fue producida por Marvel
      Studios y distribuida por Walt Disney Pictures, y basada en el cómic homónimo de Marvel Comics. Es parte del
      Universo cinematográfico de Marvel, que enlaza varias películas de superhéroes de Marvel como Iron Man (2008), The
      Incredible Hulk (2008), Iron Man 2 (2010), Thor (2011) y Capitán América: el primer vengador (2011). La película
      cuenta con un reparto coral, que incluye a Robert Downey Jr., Chris Evans, Chris Hemsworth, Mark Ruffalo, Scarlett
      Johansson, Jeremy Renner, Tom Hiddleston, Clark Gregg, Stellan Skarsgard, Cobie Smulders, y Samuel L. Jackson,. En
      Los Vengadores, Nick Fury, director de la organización de mantenimiento de la paz conocida como S.H.I.E.L.D.,
      recluta a Iron Man, Hulk, Thor, y al Capitán América para formar un equipo. El grupo debe detener al hermano de
      Thor, Loki, para evitar la destrucción del planeta. Es la sexta cinta de la franquicia del universo
      cinematográfico de Marvel en ser estrenada en cines.</p>

    <div class="text-center">
      <img class="img-fluid" src="assets/img/avengers.png" alt="">
    </div>
    <span class="caption text-muted">The Avengers.</span>

    <blockquote class="blockquote">
      <p class="text-center small">
      "La película se convirtió en un éxito crítico y comercial al recibir reseñas generalmente positivas de parte de la crítica y de la audiencia y recaudar más de $1.519 millones contra un presupuesto de $220 millones, convirtiéndose
      así en la sexta película con mayor recaudación de todos los tiempos."
    </p>
    </blockquote>

    <h2 class="section-heading">Justice League</h2>

    <p class="text-justify">Liga de la Justicia (originalmente en inglés, Justice League​) es una película estadounidense de superhéroes de
      2017, basada en las historietas de DC Comics acerca de la Liga de la Justicia, convirtiéndose en la primera
      película de este equipo y la quinta producción del Universo extendido de DC Comics. Está dirigida por Zack Snyder
      sobre un guion de Chris Terrio y Josh Whedon, teniendo un reparto conformado por Ben Affleck, Henry Cavill, Gal
      Gadot, Ezra Miller, Jason Momoa, Ray Fisher, Amy Adams, Jeremy Irons, Diane Lane, Connie Nielsen, J. K. Simmons y
      Ciarán Hinds. La Liga de la Justicia continúa con los acontecimientos de Batman v Superman: Dawn of Justice, y
      cuenta cómo Bruce Wayne recluta un equipo de metahumanos para salvar al planeta de la amenaza catastrófica
      representada por Steppenwolf y su ejército de parademonios.

      La película se anunció en octubre de 2014 con Snyder como director y Terrio adjuntándose para escribir el guion.
      Inicialmente fue anunciada como Justice League Part One, con una segunda parte programada para 2020; la segunda
      película se retrasó indefinidamente para acomodar una película en solitario de Batman con Affleck. La fotografía
      principal comenzó en abril de 2016 y finalizó en octubre del mismo año. Snyder luego contrató a Joss Whedon para
      escribir escenas que serían filmadas durante las regrabaciones; sin embargo, Snyder abandonó el proyecto en mayo
      de 2017 tras la muerte de su hija.5​

      Whedon fue contratado para supervisar el resto de la posproducción, incluida la dirección de las escenas
      adicionales escritas por él mismo. Snyder recibió el crédito como director único de la película, con Whedon
      acreditado solo como guionista. Con un costo de producción estimado de $300 millones de dólares, la película es
      una de las más caras jamás hechas. La Liga de la Justicia fue estrenada por Warner Bros. Pictures en los Estados
      Unidos y en algunas partes del mundo en formatos 2D, 3D e IMAX el 17 de noviembre de 2017. </p>

    <div class="text-center">
      <img class="img-fluid center" src="assets/img/justiceleague.jpg" alt="">
    </div>
    <span class="caption text-muted">Justice League.</span>

    <blockquote class="blockquote">
        <p class="text-center small">
          "El film recaudó cerca de $658 millones de dólares en todo el mundo y recibió  opiniones mixtas de críticos; las secuencias de acción y las actuaciones fueron elogiadas, mientras que la trama delgada, el villano débil y los CGI fueron criticados. El
      tono de la película fue recibido con una recepción polarizada, y algunos lo elogiaron por ser más liviano que las
      anteriores entregas de DCEU, mientras que otros lo señalaron como inconsistente."</p>
    </blockquote>

  </div>
</div>